/** Generic CSS for display **/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#container {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#puzzle-image-container {
    position: relative;
    display: inline-block;
    flex: 1; /* Allow it to take up available space */
}

#puzzle-image {
    display: block;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/** Metadata display **/
.info {
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

/** Clues CSS **/
h2.clues-title {
  padding: 0;
  margin: 0px 0px 5px 0px;
}

#clue-panels {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%; /* Take up the full height of the container */
    margin-left: 20px;
}

.clue-panel {
    flex: 1; /* Each panel will take up an equal portion of the height */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
    box-sizing: border-box;
}

/* no bullets on clue lists */
ul.clue-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Space between clues */
li.clue-item {
    margin-bottom: 5px;
    cursor: pointer;
}

li.clue-item:hover {
    background-color: lightgray; /* Change background on hover */
}

/* Clue note text box */
.input-box {
    display: none;
    margin-top: 5px;
    font-weight: bold;
}

/* Bold the clue numbers */
.clue-number {
  font-weight: 600;
  margin-right: 5px;
}

/* Placeholder for clue text */
.clue-text {
}

/* Clue explanations */
.clue-explanation {
  display: none;
  font-weight: bold;
  font-style: italic;
  color: #006400;
}

/** CSS for the overlay when the canvas is clicked **/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#circle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* the last element is the transparency */
    border-radius: 50%;
    pointer-events: none;
}

/** Info button and modal box **/
.button-container {
    margin-top: 20px;
}
.info-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.info-button:hover {
    background-color: #0056b3;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.modal-title {
    font-size: 20px;
    margin: 0;
}
.modal-close {
    font-size: 24px;
    cursor: pointer;
}
