/** Generic CSS for display **/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#container {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#puzzle-image-container {
    position: relative;
    display: inline-block;
    flex: 1; /* Allow it to take up available space */
}

#puzzle-image {
    display: block;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/** Clues CSS **/
#clue-panels {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%; /* Take up the full height of the container */
    margin-left: 20px;
}

.clue-panel {
    flex: 1; /* Each panel will take up an equal portion of the height */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
    box-sizing: border-box;
}

#across-clues {
    border-bottom: none; /* Optional: Remove bottom border from the first panel */
}

/** CSS for the overlay when the canvas is clicked **/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#circle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
}
